.*
#Environment File
!.env.example
#Makefile setup directories
figures/*
data/*
mamba_env/*
#Static figures
!figures/fig2-nwsrfs-model-diagram.drawio*
!figures/fig4-nwrfc-autocalb-diagram.drawio*
!figures/fig6-climo-forcing-adj-ex.pdf
